about-time==4.2.1
absl-py==2.1.0
aiodns==3.0.0
aiohttp==3.9.3
aiohttp-socks==0.7.1
aiosignal==1.3.1
alive-progress==3.1.5
altair==5.3.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
arabic-reshaper==2.1.3
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.2.0
auto-py-to-exe==2.44.1
Automat==22.10.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
beautifultable==1.1.0
bidict==0.23.1
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
cchardet==2.1.7
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-py==0.1.0.dev1
chromedriver-autoinstaller==0.6.4
click==8.1.7
cloudscraper==1.2.64
colorama==0.4.5
colour==0.1.5
constantly==23.10.4
contourpy==1.1.1
cryptography==42.0.8
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
dnspython==2.6.1
docutils==0.20.1
Eel==0.16.0
elasticsearch==7.17.9
email_validator==2.2.0
ensta==5.1.2
exceptiongroup==1.2.2
executing==2.0.1
fake-useragent==1.5.1
Faker==26.0.0
fastapi==0.111.1
fastapi-cli==0.0.4
filelock==3.15.4
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
future==0.18.2
future-annotations==1.0.0
galeodes==0.7
gast==0.4.0
geographiclib==2.0
geojson==3.1.0
geopy==2.4.1
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googlesearch-python==1.2.4
googletransx==2.4.2
grapheme==0.6.0
greenlet==3.0.3
grpcio==1.63.0
h11==0.14.0
h2==4.1.0
h5py==3.11.0
holehe==1.61
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.6
ImageHash==4.3.1
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==22.10.0
ipython==8.12.3
itemadapter==0.9.0
itemloaders==1.3.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
jsonnet-binary==0.17.0
jsonpickle==3.2.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kaitaistruct==0.10
keras==2.13.1
kiwisolver==1.4.5
langdetect==1.0.9
leakcheck==1.0.2
libclang==18.1.1
linkedin_api==2.0.4
lxml==4.9.1
maigret==0.4.4
mapboxgl==0.10.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.1
masto==2.0.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mock==4.0.3
moviepy==0.2.2.11
multidict==6.0.5
networkx==2.5.1
ntplib==0.4.0
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.10.0.84
opt-einsum==3.3.0
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.0
pandas==2.0.3
parsel==1.9.1
parso==0.8.4
pdfkit==1.0.0
pefile==2023.2.7
phonenumbers==8.12.25
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
playwright==1.43.0
proglog==0.1.10
prompt_toolkit==3.0.47
Protego==0.3.1
protobuf==4.25.3
psutil==6.0.0
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycares==4.4.0
pycountry==22.3.5
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
PyDispatcher==2.0.7
pydivert==2.1.0
pyee==11.1.0
pyfiglet==0.8.post1
Pygments==2.17.2
pyHanko==0.20.1
pyhanko-certvalidator==0.24.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyOpenSSL==22.0.0
pyotp==2.9.0
pyparsing==3.1.2
PyPDF2==2.10.4
PyPDF3==1.0.6
pypng==0.20220715.0
PyQRCode==1.2.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-multipart==0.0.9
python-socketio==5.11.3
python-socks==2.5.0
pytz==2024.1
pyvis==0.2.1
PyWavelets==1.4.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
qrcode==7.4.2
queuelib==1.7.0
referencing==0.35.1
reportlab==4.1.0
requests==2.31.0
requests-file==2.1.0
requests-futures==1.0.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
schedule==1.2.2
scipy==1.10.1
Scrapy==2.11.2
selenium==3.141.0
selenium-wire==5.0.0
service-identity==24.1.0
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snscrape==0.7.0.20230622
socid-extractor==0.0.26
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data==0.6.3
starlette==0.37.2
statistics==1.0.3.5
stem==1.8.0
streamlit==1.34.0
svglib==1.5.1
tabulate==0.9.0
tdqm==0.0.1
tenacity==8.3.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tinycss2==1.3.0
tld==0.13
tldextract==5.1.2
tokenize-rt==5.2.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
torrequest==0.1.0
tqdm==4.64.1
traitlets==5.14.3
treelib==1.7.0
trio==0.26.0
trio-websocket==0.11.1
twint==2.1.20
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
update_check==0.0.11
uritools==4.0.3
urllib3==2.2.0
uvicorn==0.30.1
validate_email==1.3
w3lib==2.2.1
watchdog==4.0.0
watchfiles==0.22.0
wayback==0.4.5
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wget==3.2
whichcraft==0.6.1
whoisdomain==1.20240129.1
wrapt==1.16.0
wsproto==1.2.0
xhtml2pdf==0.2.8
XMind==1.2.0
yarl==1.9.4
zipp==3.18.2
zope.event==5.0
zope.interface==6.4.post2
zstandard==0.22.0
